*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: blue;
}

.navbar{
    max-width: 100%;
    background: #FDEA00;
   display: flex;
   justify-content: space-between;
}

#desingLogo{
    width: 150px;
    height: auto;
    background: red;
    margin: 5vh 5vh;
    display: inline-flex;
    justify-content: center;
    
}